<ul class="layui-nav" lay-filter="">
  <li class="layui-nav-item layui-this"><a href="javascript:void(0);" onclick="loadFrameContent('/u/ForwardList');">端口转发列表</a></li>
  <li class="layui-nav-item"><a href="javascript:void(0);" onclick="loadFrameContent('/u/NetAgent');">内网穿透服务</a></li>
  <li class="layui-nav-item"><a href="javascript:void(0);" onclick="loadFrameContent('/u/ApiDoc');">API接口</a></li>
  <li class="layui-nav-item"><a href="javascript:void(0);" onclick="loadFrameContent('/u/index');">服务器信息</a></li>
  <li class="layui-nav-item">
    <a href="javascript:;">项目地址</a>
    <dl class="layui-nav-child">
      <dd><a href="https://github.com/tavenli/port-forward" target="_blank">GitHub</a></dd>
      <dd><a href="http://git.oschina.net/tavenli/port-forward" target="_blank">开源中国</a></dd>
    </dl>
  </li>

  <li class="layui-nav-item">
    <a href="javascript:void(0);">其它</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:void(0);" onclick="loadFrameContent('/u/changePwd');">修改登录密码</a></dd>
      <dd><a href="/logout">退出控制台</a></dd>
      <dd><a href="javascript:void(0);" onclick="layer.alert('由 Taven.Li 奉献代码，QQ：17020415');">关于作者</a></dd>
    </dl>
  </li>
</ul>