<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{config "String" "app.cname" "端口转发系统"}} - V1.3</title>
  <meta name="keywords" content="端口转发">

  <link href="/static/layui/css/layui.css" rel="stylesheet" media="all"/>
  <script src="/static/layui/lay/dest/layui.all.js"></script>

  <script type="text/javascript">
    layer.msg("Hi，工作累了就休息一会哦!!! ^_^");
  </script>

  <style type="text/css">

  </style>

</head>

<body>



</body>

</html>